<div class="container">
  <h1 class="header">Welcome to my first application build using the M.E.A.N stack.</h1>

  <div class="wrap">
    <div class="item">
      <span class="bold">M:</span>
      <span>MongoDB</span>
    </div>

    <div class="item">
      <span class="bold">E:</span>
      <span>Express</span>
    </div>

    <div class="item">
      <span class="bold">A:</span>
      <span>Angular</span>
    </div>

    <div class="item">
      <span class="bold">N:</span>
      <span>Node</span>
    </div>
  </div>
</div>
