.container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.header {
  justify-content: center;
}

.thin-border {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 15px 0px 15px 2px;
  width: 100%;
}

.button {
  width: 100%;
}
